.ex-button{
    background-color: #320c01;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    width: 250px;
    margin-bottom: 20px;
    margin-left: 50px;
    cursor: pointer;
}

@media only screen and (max-width: 668px) {
  .ex-button{
    margin-left: 60px;
    width: 200px;
  }
}