.ex-button {
  background-color: #320c01;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 10px;
  width: 140px;
  margin-bottom: 20px;
  margin-left: 100px;
  cursor: pointer;
}

.ex-button:hover {
  background-color: #583930;
 
}

@media only screen and (max-width: 668px) {
  .ex-button {
    margin-left: 60px;
    width: 200px;
  }
}