
.location{
    overflow: hidden;
}
.image img{
    width: 100%;
    height: 900px;
}

.location:hover .image{
    transform: scale(1.3) ;
    transition: transform 3s ease-in ;
    
}

@media only screen and (max-width: 668px) {
    .image img{
        height: 300px;
    }
    
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .image img{
        height: 500px;
    }
}